[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "~=4.12"
selenium = "~=4.17"
tenacity = "~=8.2"
fire = "~=0.5"
jsonlines = "~=4.0"
pandas = "~=2.0"
requests = "~=2.31"
chardet = "~=5.2"
html5lib = "~=1.1"
xmltodict = "~=0.13"

[dev-packages]
flake8 = "*"
mypy = ">=0.961"
black = "==24.2.0"
isort = ">=5.10.1"
twine = ">=1.11.0"
setuptools = "*"
wheel = "*"
packaging = "*"
python-dotenv = ">=0.21.1"

[requires]
python_version = "3.12"

[scripts]
format = "black ."
